---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$header-font-family: 'Bilbo Swash Caps', cursive;
$base-font-family: 'Oswald', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     5%;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #56A0D3;
$secondary-color:  #FEC10E;

// Width of the content area
$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";


/* >>>>> My Custom Styles <<<<< Written in plain CSS */

/* ========== Global Styles ========== */

address {
  font-style: inherit;
}

/* ========== Homepage Styles ========== */

.home {
  display: flex;
  justify-content: space-between;
}

.home-content {
  text-align: left;
}
