<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p><a href="mailto:{{ site.data.footer_info.email }}">{{ site.data.footer_info.email }}</a></p>
        <p>{{ site.data.footer_info.phone }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <address>
          <p>{{ site.data.footer_info.address_street }}</p>
          <p>{{ site.data.footer_info.address_city }}</p>
        </address>
      </div>
    </div>

  </div>

</footer>
