<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>(888) 888-8888</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>1234 Fifth St. Suite #101</p>
        <p>Imperial Beach, CA 91932</p>
      </div>
    </div>

  </div>

</footer>
