<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title | escape }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.data.footer_contact.phone }}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <address>
          <p>{{ site.data.footer_contact.address_street }}</p>
          <p>{{ site.data.footer_contact.address_city }}</p>
        </address>
      </div>
    </div>

  </div>

</footer>
